<footer th:fragment="footer">
	<div class="footer-content">
		<p>연락처: 010-7275-2477</p>
		<p>운영시간: 평일 06:00 - 24:00 | 주말 및 공휴일 10:00 - 20:00</p>
		<p id="adminLoginLink" style="cursor: pointer; color: var(--primary-red);">&copy; 2024
			<span style="text-decoration: underline;">디파인더바디 피트니스</span>. All rights reserved.
		</p>
	</div>

	<div id="adminLoginModal" class="admin-login-modal">
		<div class="admin-login-modal-content">
			<span class="admin-login-close">&times;</span>
			<h2>관리자 로그인</h2>
			<form id="adminLoginForm">
				<input type="text" id="adminUsername" placeholder="사용자 이름" required>
				<input type="password" id="adminPassword" placeholder="비밀번호" required>
				<button type="submit">로그인</button>
			</form>
		</div>
	</div>

	<script th:src="@{/js/admin-login.js}"></script>
</footer>