<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>이벤트 - 디파인더바디 피트니스</title>
	<link rel="stylesheet" th:href="@{/css/event.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<main>
		<section class="event-hero">
			<h1>목표 달성의 부스터, 지금 시작됩니다</h1>
			<p>회원님들을 위한 특별한 이벤트를 확인하세요</p>
		</section>

		<section class="event-content">
			<div class="event-image">
				<img id="eventImage" src="images/event/event-banner1.png" alt="이벤트 이미지">
				<button class="prev-btn">&#10094;</button>
				<button class="next-btn">&#10095;</button>
			</div>
			<div class="event-description">
				<h2 id="eventTitle">새해 맞이 초특가 이벤트!!!</h2>
				<p id="eventDescription"> 새해에는 건강과 함께 시작하세요!<br>헬스권 12개월 등록시 단 399,000원!<br>
					추가 혜택으로 PT 4회(308,000원 상당) 무료 제공까지!<br><br>하루 무제한 입장가능<br>깨끗하고 쾌적한 샤워 시설 무료 사용
					<br><br>
					[지인과 함께하면 혜택이 2배!]<br>
					-운동복 50% 할인 (15,000원 -> 7,500원)<br>
					-회원권 12개월 등록 시 15일 추가 연장<br><br>

					성북구 최대 규모, 300평 이상의 넓은 공간<br>
					2024년도 해외 / 국내 1위 헬스머신 70종 완비!<br>
					-Hammer Strength 공식 인증<br>
					-MAX PUMP, DRAX 등 프리미엄 설비<br><br>

					행사 기간 : 선착순 80명 한정!<br>
					지금 바로 시작해서 건강한 2025년을 맞이하세요!<br>
					새해엔 운동으로 새로운 나를 만나보세요!<br>
					"디파인더바디짐"에서 여러분을 기다립니다.
				</p>
			</div>
		</section>
	</main>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/event.js}"></script>
</body>

</html>