<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common-layout :: html(title=~{::title}, content=~{::body}, pageResources=~{::page-resources})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>이벤트 - 디파인더바디 피트니스</title>
	<th:block th:fragment="page-resources">
		<link rel="stylesheet" th:href="@{/css/event.css}">
		<script th:src="@{/js/event.js}"></script>
	</th:block>
</head>

<body class="fade-out">
	<main>
		<section class="event-hero">
			<h1>목표 달성의 부스터, 지금 시작됩니다</h1>
			<p>회원님들을 위한 특별한 이벤트를 확인하세요</p>
		</section>

		<section id="eventsection" class="event-content">
			<div class="event-image">
				<img id="eventImage" src="images/event/event-banner1.jpg" alt="이벤트 이미지">
				<button class="prev-btn">&#10094;</button>
				<button class="next-btn">&#10095;</button>
			</div>
			<div class="event-description">
				<h2 id="eventTitle">디파인더바디짐 마지막 할인 FINAL SALE!!</h2>
				<p id="eventDescription" class="auto-wrap"></p>
			</div>
		</section>
	</main>

</body>

</html>