<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>시설 소개 - 디파인더바디 피트니스</title>
	<link rel="stylesheet" th:href="@{/css/facilities.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin-login.css}">
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<main>
		<section class="facility-hero">
			<h1>건강한 삶을 위한 완벽한 환경</h1>
			<p>최고의 운동 환경과 다양한 시설을 갖춘<br> 디파인더바디 피트니스에 오신 것을 환영합니다.</p>
			<button id="editButton" style="display: none;">수정 모드</button>
		</section>

		<section class="facility-gallery">
			<div class="main-image">
				<img id="mainImage" th:src="@{${facilities[0].imageUrl}}" th:alt="${facilities[0].name}">
				<button class="prev">&#10094;</button>
				<button class="next">&#10095;</button>
			</div>
			<div class="thumbnail-container">
				<div class="thumbnails">
					<div th:each="facility, iterStat : ${facilities}" class="thumbnail-wrapper">
						<img th:src="@{${facility.imageUrl} + '?t=' + ${#dates.createNow().getTime()}}"
							th:alt="${facility.name}" class="thumbnail"
							th:classappend="${iterStat.first} ? 'active' : ''" th:data-id="${facility.id}">
						<input type="file" class="image-upload" style="display: none;">
					</div>
				</div>
			</div>
		</section>
	</main>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/facilities.js}"></script>
	<script th:src="@{/js/admin-login.js}"></script>
</body>

</html>