<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>시설 소개 - 디파인더바디 피트니스</title>
	<link rel="stylesheet" th:href="@{/css/facilities.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<main>
		<section class="facility-hero">
			<h1>건강한 삶을 위한 완벽한 환경</h1>
			<p>최고의 운동 환경과 다양한 시설을 갖춘<br> 디파인더바디 피트니스에 오신 것을 환영합니다.</p>
		</section>

		<section class="facility-gallery">
			<div class="main-image">
				<img id="mainImage" src="images/facility1.jpg" alt="시설 메인 이미지">
				<button class="prev">&#10094;</button>
				<button class="next">&#10095;</button>
			</div>
			<div class="thumbnail-container">
				<div class="thumbnails">
					<img src="images/facility/facility1.jpg" alt="시설 1" class="thumbnail active">
					<img src="images/facility/facility2.jpg" alt="시설 2" class="thumbnail">
					<img src="images/facility/facility3.jpg" alt="시설 3" class="thumbnail">
					<img src="images/facility/facility4.jpg" alt="시설 4" class="thumbnail">
					<img src="images/facility/facility5.jpg" alt="시설 5" class="thumbnail">
					<img src="images/facility/facility6.jpg" alt="시설 6" class="thumbnail">
					<img src="images/facility/facility7.jpg" alt="시설 7" class="thumbnail">
					<img src="images/facility/facility8.jpg" alt="시설 8" class="thumbnail">
					<img src="images/facility/facility9.jpg" alt="시설 9" class="thumbnail">
					<img src="images/facility/facility10.jpg" alt="시설 10" class="thumbnail">
					<img src="images/facility/facility11.jpg" alt="시설 11" class="thumbnail">
				</div>
			</div>
		</section>
	</main>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/facilities.js}"></script>
</body>

</html>