<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common-layout :: html(title=~{::title}, content=~{::body}, pageResources=~{::page-resources})}">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="디파인더바디 피트니스 - 최신 헬스장 시설, 전문 트레이너, PT, 다양한 이벤트와 프로모션 안내. 건강한 삶을 위한 최고의 선택!">
	<meta property="og:type" content="website">
	<meta property="og:title" content="디파인더바디 피트니스 | 건강한 삶의 시작">
	<meta property="og:description" content="최신 헬스장 시설, 전문 트레이너, 다양한 이벤트 안내. 디파인더바디 피트니스에서 건강을 시작하세요!">
	<meta property="og:image" content="https://definethebody.com/images/logo.png">
	<meta property="og:url" content="https://definethebody.com/">
	<title>디파인더바디 피트니스 | 헬스장, PT, 트레이너, 이벤트</title>
	<th:block th:fragment="page-resources">
		<link rel="stylesheet" th:href="@{/css/index.css}">
		<script src="https://unpkg.com/scrollreveal"></script>
		<script th:src="@{/js/index.js}"></script>
	</th:block>
</head>

<body class="fade-out">

	<main>
		<section class="hero-section animate-sequence" style="display: none;">
			<div class="hero-content animate-sequence">
				<h1 class="animate-sequence">건강한 삶을 시작하세요</h1>
				<p class="animate-sequence">최신 장비와 전문 트레이너가 여러분을 기다리고 있습니다</p>
				<a href="https://map.naver.com/p/entry/place/1960250523?placePath=%252Fhome%253Fentry%253Dplt&searchType=place&lng=127.0151611&lat=37.6086138&c=15.00,0,0,0,dh"
					class="cta-button animate-sequence">지금 방문하기</a>
			</div>
		</section>

		<section class="content-section reveal">
			<div class="feature-cards">
				<div>
					<a th:href="@{/events}" class="card card-event">
						<h3 class="editable" contenteditable="false">EVENT</h3>
						<p class="editable" contenteditable="false">디파인더바디의<br>이벤트와 프로모션을<br> 확인하세요</p>
					</a>
				</div>
				<div>
					<a th:href="@{/trainers}" class="card card-staff">
						<h3 class="editable" contenteditable="false">STAFF</h3>
						<p class="editable" contenteditable="false">디파인더바디의<br>열정적인 스태프들을<br>만나보세요</p>
					</a>
				</div>
				<div>
					<a th:href="@{/facilities}" class="card card-gym">
						<h3 class="editable" contenteditable="false">GYM</h3>
						<p class="editable" contenteditable="false">디파인더바디의<br>최신 장비와 쾌적한<br>환경을 경험하세요</p>
					</a>
				</div>
				<div>
					<a th:href="@{/contact}" class="card card-contact">
						<h3 class="editable" contenteditable="false">CONTACT US</h3>
						<p class="editable" contenteditable="false">디파인더바디에게<br>궁금한 점이 있으면<br>문의해주세요</p>
					</a>
				</div>
			</div>
		</section>
	</main>
</body>

</html>