<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>디파인더바디 피트니스</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin-login.css}">
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<section class="hero-section">
			<div class="hero-content">
				<h1 class="editable" contenteditable="false">건강한 삶을 시작하세요</h1>
				<p class="editable" contenteditable="false">최신 장비와 전문 트레이너가 여러분을 기다리고 있습니다.</p>
				<a href="https://map.naver.com/p/entry/place/1960250523?placePath=%252Fhome%253Fentry%253Dplt&searchType=place&lng=127.0151611&lat=37.6086138&c=15.00,0,0,0,dh"
					class="cta-button editable" contenteditable="false">지금 방문하기</a>
			</div>
		</section>

		<section class="content-section">
			<div class="event-banner" th:if="${not #lists.isEmpty(events)}">
				<div class="slider">
					<img th:each="event : ${events}" th:src="@{${event.image}}" th:alt="${event.title}"
						class="event-image editable">
					<button class="prev-btn" th:if="${#lists.size(events) > 1}">&#10094;</button>
					<button class="next-btn" th:if="${#lists.size(events) > 1}">&#10095;</button>
				</div>
			</div>

			<div class="feature-cards">
				<a th:href="@{/events}" class="card">
					<h3 class="editable" contenteditable="false">이벤트</h3>
					<p class="editable" contenteditable="false">디파인더바디만의 <br>다양한 이벤트와 프로모션을 확인하세요</p>
				</a>
				<a th:href="@{/trainers}" class="card">
					<h3 class="editable" contenteditable="false">팀원 소개</h3>
					<p class="editable" contenteditable="false">디파인더바디의 <br>스태프들을 만나보세요</p>
				</a>
				<a th:href="@{/facilities}" class="card">
					<h3 class="editable" contenteditable="false">시설 소개</h3>
					<p class="editable" contenteditable="false">디파인더바디의 <br>최신 장비와 쾌적한 환경을 경험하세요</p>
				</a>
				<a th:href="@{/contact}" class="card">
					<h3 class="editable" contenteditable="false">고객 지원</h3>
					<p class="editable" contenteditable="false">디파인더바디에게 <br>궁금한 점이 있으면 문의해주세요</p>
				</a>
			</div>
		</section>
	</main>

	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/index.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.serverEvents = /*[[${events}]]*/[];
	       /*]]>*/
	</script>
</body>

</html>